.gameModal {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-family: "Montserrat";
  background: #f8f8f8;
}

body a, html a {
  text-decoration: none;
  color: #1d1d1d;
}

nav {
  background: #fff;
  padding: 1em;
}

nav .logo {
  margin: 0px 25px;
  font-weight: bold;
}

nav ul {
  float: right;
  display: inline-block;
  font-size: 13px;
}

nav ul li {
  margin: 0 25px;
  display: inline-block;
  list-style-type: none;
}

#banner {
  padding: 4em 1em;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

#banner h1 {
  margin: 15px 25px 0px 25px;
  font-weight: 400;
}

#banner button {
  padding: 10px 15px;
  border-radius: 4px;
  color: #fff;
  border: none;
  background: #000;
  margin: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#banner button:hover {
  background: #000;
  border: none;
}

#game-section {
  padding: 4em 1em;
  text-align: center;
  background-image: url(../images/pattern.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: calc(100% - (2em + 25px)) 4em;
}

#game-section h3 {
  font-size: 14px;
  font-weight: 400;
}

#game-section .games {
  text-align: center;
  padding: 1em;
  margin: 15px 25px;
}

footer {
  background: #fff;
  padding: 1em 2em;
}

footer span#copyright {
  margin: 0px 15px;
  font-weight: 400;
  font-size: 12px;
  color: #1d1d1d;
}

footer span#social {
  float: right;
  margin: 0px 15px;
}

footer span#social a {
  margin: 0 0px 0px 25px;
}

footer span#social img {
  width: 25px;
  height: 25px;
}

.gameModal {
  position: absolute;
  background: #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: calc(100vh - 2em);
  top: 3em;
  overflow: hidden;
  /* All good till now. Now we'll style the background */
  /* Now the value part */
  /* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */
}

.gameModal #game2score {
  float: left;
  font-weight: bold;
}

.gameModal progress {
  width: 100%;
  height: 14px;
  position: relative;
  bottom: 10px;
  -webkit-appearance: none;
  border: none;
}

.gameModal progress::-webkit-progress-bar {
  background: none;
  border-radius: 33px;
  padding: 2px;
}

.gameModal progress::-webkit-progress-value {
  border-radius: 50px;
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
          box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
  background: -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #2196f3, #2196f3);
  /* Looks great, now animating it */
  background-size: 25px 14px, 100% 100%, 100% 100%;
  -webkit-animation: move 5s linear 0 infinite;
}

@-webkit-keyframes move {
  0% {
    background-position: 0px 0px, 0 0, 0 0;
  }
  100% {
    background-position: -100px 0px, 0 0, 0 0;
  }
}

.gameModal .close-btn {
  position: absolute;
  background: #2196f3;
  right: calc(2em + 10px);
  padding: 2px 50px;
  top: 1em;
  color: #fff;
  border-radius: 12px;
}

.gameModal .gameHeader {
  background: #040404;
  padding: 5em calc(2em + 10px);
  color: #fff;
}

.gameModal .gameHeader h3 {
  font-weight: 400;
}

.gameModal .gameContent {
  min-height: 80vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: calc(2em + 15px);
  text-align: center;
}

.gameModal .gameContent .buttonvariante {
  color: #fff;
  margin-top: 2em;
  padding: 1em 2em;
  border-radius: 33px;
  background: #2196f3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
}

.gameModal .gameContent .buttonvariante:hover {
  background: #1c7dca;
}

.gameModal .gameContent #restart {
  padding: 1em 4em;
  margin-top: 4em;
  border: none;
  background: #2196f3;
  color: #fff;
  border-radius: 33px;
  z-index: 9999;
}

.gameModal .gameContent .userInput {
  display: initial;
  border: none;
  background: #fff;
  font-weight: bold;
  padding: 1em 6em;
  margin-top: 8em;
  text-align: center;
  border-radius: 33px;
}

.gameModal .gameContent .liveDiv {
  float: right;
  width: 100%;
  margin-bottom: 4em;
  text-align: right;
}

.gameModal .gameContent .lives {
  width: 30px;
  margin: 0px 5px;
}

.close {
  display: none;
}

.fadein {
  webkit-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 640px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.container h3 {
  font-size: 14px;
  font-weight: 400;
  background: #2196f3;
  border-radius: 33px;
  color: #fff;
  padding: 4px 2px;
}

.container .item {
  display: -ms-grid;
  display: grid;
  margin: auto;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  color: white;
  border-left: 0px solid #2196f3;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  max-width: 20%;
  height: 33vh;
  min-width: 10%;
  background-color: rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 640px) {
  .container .item {
    min-width: 100%;
    width: 100%;
  }
}

.container .item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center bottom;
  background-size: cover;
  z-index: -1;
}

.container .item:nth-of-type(1) {
  border-left: none;
}

.container .item:nth-of-type(1):before {
  background-image: url("../images/game0.jpg");
  opacity: 0.9;
  border-radius: 10px 0px 0px 10px;
}

.container .item:nth-of-type(2):before {
  background-image: url("../images/game1.jpg");
  opacity: 0.9;
}

.container .item:nth-of-type(3):before {
  background-image: url("../images/game2.jpg");
  opacity: 0.9;
}

.container .item:nth-of-type(4):before {
  background-image: url("../images/game3.jpg");
  opacity: 0.9;
}

.container .item:nth-of-type(5):before {
  background-image: url("../images/game4.jpg");
  opacity: 0.9;
  border-radius: 0px 10px 10px 0px;
}

.container .item:nth-child(1) {
  border-radius: 10px 0px 0px 10px;
}

.container .item:nth-child(5) {
  border-radius: 0px 10px 10px 0px;
}

.container .item:hover {
  -webkit-transition: .5s;
  transition: .5s;
  max-width: 40% !important;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  cursor: pointer;
  color: #fff;
  background-color: #2196f3;
}

.container .item:hover p, .container .item:hover a svg {
  display: inherit;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 14px;
  font-weight: 400;
}

.container .item:hover p {
  min-height: 80%;
}

@media only screen and (max-width: 640px) {
  .container .item:hover p {
    min-height: 30%;
  }
}

.container a svg {
  fill: #2196f3;
  margin: 0px 25px;
  width: 50px;
}

.container .content {
  margin: 25px;
  font-size: 2em;
}

.container p, .container a svg {
  display: none;
  -webkit-transform: translateY(120vh);
          transform: translateY(120vh);
}

.start > .before, .start > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.start > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: 53px 59.33333px #00ff1e, 17px -386.66667px #ff003c, -60px -71.66667px #ff6200, 84px -120.66667px #ff00bf, 69px -243.66667px #fff200, -158px -317.66667px #6a00ff, -108px -305.66667px #ffd900, -225px -211.66667px #00ffae, -169px -141.66667px #91ff00, -61px -113.66667px #ff9500, -196px -50.66667px #00ff15, -6px 35.33333px #bb00ff, -124px -327.66667px #ccff00, -234px -264.66667px #ffc800, -205px -159.66667px yellow, 16px 63.33333px #ff0037, -20px -131.66667px #9900ff, -131px -267.66667px deepskyblue, -29px -163.66667px #62ff00, -70px -91.66667px #ff002f, 232px -383.66667px #c4ff00, 11px -227.66667px #66ff00, 244px -293.66667px #e100ff, 3px -200.66667px #ff0900, 51px -142.66667px #ff00ee, -167px 34.33333px #ffa200, 222px 68.33333px #ffd900, -154px -346.66667px #ff8800, -144px -5.66667px #0400ff, -184px -308.66667px #ff5900, 122px -64.66667px #ff7700, -31px -134.66667px #ff0080, -240px -231.66667px #00ffa2, -86px 51.33333px #51ff00, 9px -231.66667px #95ff00, 17px -331.66667px #ff0033, -221px 4.33333px #aeff00, 97px -340.66667px #fbff00, -32px 22.33333px #0084ff, 30px -113.66667px #ff00aa, 179px 28.33333px #00ff15, 245px -274.66667px #009dff, 111px -242.66667px #0091ff, -29px 55.33333px #ff0091, 78px -293.66667px #dd00ff, -60px -274.66667px deepskyblue, -32px -95.66667px #00ff22, -202px -223.66667px #ff8800, -40px 58.33333px #ff6600, -236px -62.66667px #11ff00, 250px -318.66667px #00ff0d;
            box-shadow: 53px 59.33333px #00ff1e, 17px -386.66667px #ff003c, -60px -71.66667px #ff6200, 84px -120.66667px #ff00bf, 69px -243.66667px #fff200, -158px -317.66667px #6a00ff, -108px -305.66667px #ffd900, -225px -211.66667px #00ffae, -169px -141.66667px #91ff00, -61px -113.66667px #ff9500, -196px -50.66667px #00ff15, -6px 35.33333px #bb00ff, -124px -327.66667px #ccff00, -234px -264.66667px #ffc800, -205px -159.66667px yellow, 16px 63.33333px #ff0037, -20px -131.66667px #9900ff, -131px -267.66667px deepskyblue, -29px -163.66667px #62ff00, -70px -91.66667px #ff002f, 232px -383.66667px #c4ff00, 11px -227.66667px #66ff00, 244px -293.66667px #e100ff, 3px -200.66667px #ff0900, 51px -142.66667px #ff00ee, -167px 34.33333px #ffa200, 222px 68.33333px #ffd900, -154px -346.66667px #ff8800, -144px -5.66667px #0400ff, -184px -308.66667px #ff5900, 122px -64.66667px #ff7700, -31px -134.66667px #ff0080, -240px -231.66667px #00ffa2, -86px 51.33333px #51ff00, 9px -231.66667px #95ff00, 17px -331.66667px #ff0033, -221px 4.33333px #aeff00, 97px -340.66667px #fbff00, -32px 22.33333px #0084ff, 30px -113.66667px #ff00aa, 179px 28.33333px #00ff15, 245px -274.66667px #009dff, 111px -242.66667px #0091ff, -29px 55.33333px #ff0091, 78px -293.66667px #dd00ff, -60px -274.66667px deepskyblue, -32px -95.66667px #00ff22, -202px -223.66667px #ff8800, -40px 58.33333px #ff6600, -236px -62.66667px #11ff00, 250px -318.66667px #00ff0d;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: 53px 59.33333px #00ff1e, 17px -386.66667px #ff003c, -60px -71.66667px #ff6200, 84px -120.66667px #ff00bf, 69px -243.66667px #fff200, -158px -317.66667px #6a00ff, -108px -305.66667px #ffd900, -225px -211.66667px #00ffae, -169px -141.66667px #91ff00, -61px -113.66667px #ff9500, -196px -50.66667px #00ff15, -6px 35.33333px #bb00ff, -124px -327.66667px #ccff00, -234px -264.66667px #ffc800, -205px -159.66667px yellow, 16px 63.33333px #ff0037, -20px -131.66667px #9900ff, -131px -267.66667px deepskyblue, -29px -163.66667px #62ff00, -70px -91.66667px #ff002f, 232px -383.66667px #c4ff00, 11px -227.66667px #66ff00, 244px -293.66667px #e100ff, 3px -200.66667px #ff0900, 51px -142.66667px #ff00ee, -167px 34.33333px #ffa200, 222px 68.33333px #ffd900, -154px -346.66667px #ff8800, -144px -5.66667px #0400ff, -184px -308.66667px #ff5900, 122px -64.66667px #ff7700, -31px -134.66667px #ff0080, -240px -231.66667px #00ffa2, -86px 51.33333px #51ff00, 9px -231.66667px #95ff00, 17px -331.66667px #ff0033, -221px 4.33333px #aeff00, 97px -340.66667px #fbff00, -32px 22.33333px #0084ff, 30px -113.66667px #ff00aa, 179px 28.33333px #00ff15, 245px -274.66667px #009dff, 111px -242.66667px #0091ff, -29px 55.33333px #ff0091, 78px -293.66667px #dd00ff, -60px -274.66667px deepskyblue, -32px -95.66667px #00ff22, -202px -223.66667px #ff8800, -40px 58.33333px #ff6600, -236px -62.66667px #11ff00, 250px -318.66667px #00ff0d;
            box-shadow: 53px 59.33333px #00ff1e, 17px -386.66667px #ff003c, -60px -71.66667px #ff6200, 84px -120.66667px #ff00bf, 69px -243.66667px #fff200, -158px -317.66667px #6a00ff, -108px -305.66667px #ffd900, -225px -211.66667px #00ffae, -169px -141.66667px #91ff00, -61px -113.66667px #ff9500, -196px -50.66667px #00ff15, -6px 35.33333px #bb00ff, -124px -327.66667px #ccff00, -234px -264.66667px #ffc800, -205px -159.66667px yellow, 16px 63.33333px #ff0037, -20px -131.66667px #9900ff, -131px -267.66667px deepskyblue, -29px -163.66667px #62ff00, -70px -91.66667px #ff002f, 232px -383.66667px #c4ff00, 11px -227.66667px #66ff00, 244px -293.66667px #e100ff, 3px -200.66667px #ff0900, 51px -142.66667px #ff00ee, -167px 34.33333px #ffa200, 222px 68.33333px #ffd900, -154px -346.66667px #ff8800, -144px -5.66667px #0400ff, -184px -308.66667px #ff5900, 122px -64.66667px #ff7700, -31px -134.66667px #ff0080, -240px -231.66667px #00ffa2, -86px 51.33333px #51ff00, 9px -231.66667px #95ff00, 17px -331.66667px #ff0033, -221px 4.33333px #aeff00, 97px -340.66667px #fbff00, -32px 22.33333px #0084ff, 30px -113.66667px #ff00aa, 179px 28.33333px #00ff15, 245px -274.66667px #009dff, 111px -242.66667px #0091ff, -29px 55.33333px #ff0091, 78px -293.66667px #dd00ff, -60px -274.66667px deepskyblue, -32px -95.66667px #00ff22, -202px -223.66667px #ff8800, -40px 58.33333px #ff6600, -236px -62.66667px #11ff00, 250px -318.66667px #00ff0d;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*# sourceMappingURL=main.css.map */